// @media only screen and (min-width: 770px) {
//   .path.navHorizontal li a {
//     font-size: 1rem;
//   }
// }


.center {
  text-align: center;
}

svg {
  fill: $first-color;
}

.firstColor,
.firstColor > * {
  color: $first-color;
}

.greyBG {
  background-color: $second-color;
}

.name {
  font-size: 18px;
  padding: 30px 0;
  margin: 0;
}

.mission {
  padding: 45px 0 40px 0;
  text-align: center;
  & h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;;
  }
  & svg {
    margin: 20px 0;
  }
}

.news__title {
  font-size: 18px;
  padding: 55px 0 25px 0;
}

.youTubeLink {
  font-weight: 500;
  & h3 {
    padding: 10px 0 30px 0;
    font-size: 24px;
  }
}

.videoWrapper {
  border: 10px solid $second-color;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper .video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.download__title {
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 0 0;
}

.download {
  display: flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  & section {
    padding: 40px;
  }
  & section a:hover {
    text-decoration: none;
    & svg {
      fill:$fifth-color;
    }
    & p {
      color: $first-color;
      font-weight: bold;
    }
  }
}

.logos {
  padding: 50px;
  & img {
    max-height: 75px;
    margin: 20px 60px;
  }
}

@media only screen and (max-width: 576px) {
  .logos img{
    margin: 30px 10px;
    max-width: 100%;

  }
}
