.footer {
  background-color: $third-color;
  padding: 20px 0;

  & section {
    margin-top: 30px;
    color: white;
  }
  & p {
    margin-bottom: 0;
    font-size: 14px;
    color: white;
  }
}

.sectionName {
  font-size: 14px;
  text-transform: uppercase;
}

.footer__info {
  margin-top: 30px;
}

.accent {
  font-size: 18px;
}
