.header {
  background-image: url('../images/backgroundimage.jpg');
  height: 50vw;
  min-height: 160px;
  overflow: hidden;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.topLinks {
  margin-top: 30px;
  height: 70px;
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  .topLinks {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // flex-wrap: wrap;
    & img {
      z-index: 5;
      max-width: 100%;
    }

  }
}

.socialMediaLink {
  height: 40px;
  width: 40px;
  margin: 10px;
  &:hover {
    opacity: 0.7;
  }
}

.logo {
  height: 70px;
}
