@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&subset=latin-ext');
$primary-font: 'Raleway', sans-serif;

* {
  font-family: $primary-font;
  color: $fifth-color
}

// @font-face {
//     font-family: "My Custom Font";
//     src: "../images/icons/_ICONFONT/fonts/linea-basic-10.ttf";
// }
//
// .icon {
//     font-family: "My Custom Font";
// }
